* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
}

body {
}

/* NAVIGATON BAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: cyan;
  height: 4rem;
}

.navbar .options ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.navbar .options ul li {
  padding: 0 20px;
}
.navbar .options ul li a {
  color: black;
  text-decoration: none;
}

/* FOOTER */
.main-footer {
  color: rgb(0, 0, 0);
  /* width: 100%; */
  /* border-top: 1px solid black; */
  margin-top: 5rem;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 20px;
  margin-right: 40px;
}

.social .fab {
  border-radius: 50%;
  color: rgb(10, 10, 10);
  /* color: var(--primary-color); */
  text-align: center;
  padding: 0.5rem;
}
.social .fab:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}
