@import url(utilities.css);

:root {
  --primary-color: #80ed99;
}

.sides-input-container {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 20px;
  border: 1px solid var(--primary-color);
  margin: 10px auto 30px;
  border-radius: 10px;
  text-align: center;
  width: 65%;
}

.sides-input-container label {
  font-weight: bold;
  text-align: center;
  color: var(--primary-color);
}
