@import url(utilities.css);

/* :root {
  --primary-color: lightblue;
} */
.angle-input-container {
  display: flex;
  flex-direction: column;
}

.angle-input {
  padding: 20px;
  border: 1px solid var(--primary-color);
  margin: 10px auto 30px;
  border-radius: 10px;
  text-align: center;
  width: 50%;
}

.angle-input-container label {
  font-weight: bold;
  text-align: center;
  color: var(--primary-color);
}
